
.gallery{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: auto auto auto auto;
}
.item{
    background-color: blue;
}
.item img{
    height: 250px;
    width: 250px;
    border:cornflowerblue 5px groove;
}
.item img:hover{
    height: 350px;
    width: 350px;
    border:blue 10px ridge;
}
.quote{
    height: 300px;
    width: 300px;
    background-image:repeating-radial-gradient(darkblue, darkred);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color:antiquewhite;
    text-align:center;
    padding-top: 60px;
    font-weight: bold;
}
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  body{
      background-image: url("https://th.bing.com/th/id/OIP.YqhuNNBjB2XP5IC1NPp2dwHaEK?pid=ImgDet&rs=1");
background-repeat: no-repeat;
background-size: cover;
    }
.heading{
    color: red;
    padding: 5px;
    text-decoration: solid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
}  
#w1, #w2, #w3, #w4, #w5, #w6, #w7, #w8, #w9, #w10{
font-size: larger;
font-family:'Times New Roman', Times, serif;
color:blue;
}
.wi{
    height: 500px;
    width: 1000px;
}
.wi:hover{
    border-radius: 50%;
}